@keyframes bala {
  from {
    top: 60%;
  }
  to {
    top: -2%;
  }
}

.bullet {
  width: 10px;
  background-color: blue;
  height: 15px;
  transition: 1s;
  animation-duration: 2s;
  animation: bala;

  position: absolute;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
